@charset "utf-8";

@import url('reset.css');
@import url('font.css');
@import url('common.css');

:root {
    --font-pretendard: 'Pretendard';
    --font-fusskiademo: 'Fusskia Demo';
    --font-bold: 700;
    --font-semibold: 600;
    --font-regular: 400;
    --font-light: 300;

    --color-b: #1c1c1c;
    --color-p: #708574;
    --color-w: #fafafa;
    --color-g01: #666666;
    --color-g02: #cccccc;
}

.graphicdesign {
    margin: 50px;
}

.graphicdesign .inner {}

.graphicdesign .inner .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.graphicdesign .inner .title .point {
    left: 38.9%;
}

.graphicdesign .inner .list_wrap {
    /* display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: 464px 464px 464px;
    grid-template-rows: 464px 146px 288px 146px 146px 288px 146px; */
}

.graphicdesign .inner .list_wrap .all_box {
    width: 464px;
    /* 32% */
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--color-g02);
}

.graphicdesign .inner .list_wrap .all_box .box_title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: var(--font-fusskiademo);
    z-index: 9;
}

.graphicdesign .inner .list_wrap .all_box .box_title p {
    font-size: 20px;
    padding: 7px 30px;
    background-color: #fafafa5d;
    backdrop-filter: blur(7px);
    border: 1px solid var(--color-b);
    border-radius: 10px;
}

.graphicdesign .inner .list_wrap .all_box .main_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-fusskiademo);
    color: var(--color-w);
}

.graphicdesign .inner .list_wrap .all_box .main_title h5 {
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 15px;
}

.graphicdesign .inner .list_wrap .all_box .main_title h5 span {
    letter-spacing: 5px;
}

.graphicdesign .inner .list_wrap .all_box .main_title h6 {
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: var(--font-regular);
    white-space: nowrap;
    text-align: center;
}

.graphicdesign .inner .list_wrap .box01 {
    height: 640px;
}

.graphicdesign .inner .list_wrap .box01 .image {
    height: 100%;
}

.graphicdesign .inner .list_wrap .box02 {
    height: 464px;
}

.graphicdesign .inner .list_wrap .box02 .image {
    height: 100%;
}

.graphicdesign .inner .list_wrap .all_box .image figure {
    width: 100%;
    height: 100%;
}

.graphicdesign .inner .list_wrap .all_box .image figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.graphicdesign .inner .list_wrap .all_box .image .hover_image {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.8s;
}

.graphicdesign .inner .list_wrap .all_box .image:hover .hover_image {
    opacity: 1;
    transition: 0.8s;
}

.graphicdesign .inner .list_wrap .box_num05 {
    transition: 2s;
}

.graphicdesign .inner .list_wrap .box_num05:hover {
    transform: rotateY(360deg);
    transition: 2s;
}


.graphicdesign .inner .list_wrap .click_box {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 90%;
    height: 800px;
    background-color: var(--color-w);
    border: 1px solid var(--color-b);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    transition: 0.8s;
    opacity: 0;
    z-index: 99999;
    transition: 0.8s;
}
.graphicdesign .inner .list_wrap .click_box.click {
    top: 50%;
    opacity: 1;
    transition: 0.8s;
}
.graphicdesign .inner .list_wrap .click_box .close_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.graphicdesign .inner .list_wrap .click_box .close_btn .close_icon {
    width: 100%;
    height: 100%;
}
.graphicdesign .inner .list_wrap .click_box .close_btn .close_icon::after,
.graphicdesign .inner .list_wrap .click_box .close_btn .close_icon::before {
    content: '';
    position: absolute;
    top: 3%;
    left: 15px;
    height: 30px;
    width: 2px;
    background-color: var(--color-b);
}
.graphicdesign .inner .list_wrap .click_box .close_btn .close_icon::after {
    transform: rotate(45deg);
}
.graphicdesign .inner .list_wrap .click_box .close_btn .close_icon::before {
    transform: rotate(-45deg);
}
.graphicdesign .inner .list_wrap .click_box .big_image {
    height: 650px;
}
.graphicdesign .inner .list_wrap .click_box .big_image figure {
    height: 100%;
}
.graphicdesign .inner .list_wrap .click_box .big_image figure img {
    height: 100%;
}
.graphicdesign .inner .list_wrap .click_box .small_image_wrap {
    display: flex;
    column-gap: 30px;
}
.graphicdesign .inner .list_wrap .click_box .small_image_wrap .image_list {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
}
.graphicdesign .inner .list_wrap .click_box .small_image_wrap .image_list figure {
    width: 100%;
    height: 100%;
}
.graphicdesign .inner .list_wrap .click_box .small_image_wrap .image_list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.graphicdesign .inner .list_wrap .click_box .slide_btn {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.graphicdesign .inner .list_wrap .click_box .slide_btn .prev_btn {
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 30px;
}
.graphicdesign .inner .list_wrap .click_box .slide_btn .next_btn {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 30px;
}
.graphicdesign .inner .list_wrap .click_box .slide_btn .icon {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.graphicdesign .inner .list_wrap .click_box .slide_btn .icon div {
    width: 18px;
    height: 2px;
    background-color: var(--color-b);
    border-radius: 3px;
}
.graphicdesign .inner .list_wrap .click_box .slide_btn .icon div span {
    position: absolute;
    left: -999999999999999999px;
}

.graphicdesign .inner .list_wrap .click_box .slide_btn .prev_btn .icon div:first-child {
    transform: rotate(-45deg);
} 
.graphicdesign .inner .list_wrap .click_box .slide_btn .prev_btn .icon div:last-child {
    transform: rotate(45deg);
} 
.graphicdesign .inner .list_wrap .click_box .slide_btn .next_btn .icon div:first-child {
    transform: rotate(45deg);
} 
.graphicdesign .inner .list_wrap .click_box .slide_btn .next_btn .icon div:last-child {
    transform: rotate(-45deg);
} 
















.main_page {
    opacity: 1;
    transition: 2s;
    transform: translateY(0%);
    overflow: hidden;
}

.main_page.on {
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}

.main_page .main_inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main_page .main_inner .portfolio_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-fusskiademo);
    position: relative;
}
.main_page .main_inner .portfolio_title .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: var(--font-bold);
    font-family: var(--font-pretendard);
}
.main_page .main_inner .portfolio_title .title:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-b);
}
.main_page .main_inner .portfolio_title .title:nth-child(2) {
    color: var(--color-b);
    animation: textAnimate 3s ease-in-out infinite;
}


@keyframes textAnimate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
        
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}



.main_page .main_inner .scroll {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    background-color: var(--color-w);
}

.main_page .main_inner .scroll p {
    font-size: 14px;
    color: var(--color-g01);
}

.main_page .main_inner .scroll .scroll_icon {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-p);
    border-radius: 50%;
    position: relative;

    animation: scroll 2s infinite linear;
}

.main_page .main_inner .scroll .scroll_icon span {
    position: absolute;
    left: -999999999999999999999px;
}

.main_page .main_inner .scroll .scroll_icon .line_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.main_page .main_inner .scroll .scroll_icon .line_wrap .line {
    width: 13px;
    height: 13px;
    margin-bottom: 7px;
    border-radius: 2px;
    border-top: 2px solid var(--color-p);
    border-left: 2px solid var(--color-p);
    transform: rotate(-135deg);
}

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}

.title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-b);
}
.title2 {
    position: relative;
    -webkit-box-reflect: below -28px linear-gradient(transparent, rgba(0, 0, 0, 0.034))
}
.title2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: var(--color-w);
    animation: blinkCursor 0.8s steps(3) infinite;
}
@keyframes blinkCursor {
    0%, 75% {
        opacity: 1;
    }
    76%, 100% {
        opacity: 0;
    }
}
.title2 h1 {
    position: relative;
    color: var(--color-w);
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 180px;
    animation: typing 8s steps(9) infinite;
    font-family: var(--font-pretendard);
    overflow: hidden;
}
@keyframes typing {
   0%, 85%, 100%{
    width: 0;
   }
   25%, 75% {
    width: 1049.450px;
   }
}

.title_box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-b);
}

.title3 {
    color: var(--color-w);
}

.title3 h1 {
    font-size: 300px;
    letter-spacing: 5px;
    font-family: var(--font-pretendard);
    text-transform: uppercase;
    position: relative;
}

.title3 h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-b);
    border-left: 1px solid var(--color-w);
    animation: animate 5.3s steps(9) infinite;
}
@keyframes animate {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}